/* Fonts */
/* ------------------------------------ */
$ff-main: "Noto Sans", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #FFFFFF;
$color-white-2: rgba(255, 255, 255, 0.7);
$color-black: #000000;
$color-black-2: rgba(0, 0, 0, 0.4);
$color-forest-green: #308E21;
$color-cape-cod: #393B3C;
$color-mine-shaft: #333333;
$color-cornflower-blue: #67A5EB;
$color-blue-marguerite: #6A5DC2;
$color-heliotrope: #DC5DFC;
$color-bittersweet: #FF7575;
$color-melrose: #B4A9FF;
$color-fiord: #45526E;
$color-pirate-gold: #A59400;
$color-gray: #777777;
$color-thunderbird: #C82020;

/* Shadows */
/* ------------------------------------ */
$shadow-home-card: 0px 0px 80px 0px;
