.custom-rating {
    width: 70px;
    height: 32px;
    background-color: $color-forest-green;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;

    &__icon {
        color: $color-white;
    }

    &__value {
        color: $color-white;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }

    &--size-small {
        width: 47px;
        height: 20px;

        .custom-rating__value {
            font-size: 12px;
            line-height: 16px;
        }
    }
}