.custom-input {

    &__field {
        border-radius: 12px;
        background-color: $color-cape-cod;
        padding: 12px 16px 12px 52px;
        border: none;
        color:$color-white;

        &:focus-visible {
            outline: none;
            
        }
    }

}