.footer {
    &__wrapper {
        padding: 42px 80px;
        display: flex;
        justify-content: flex-end;
    }

    &__socials-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 24px;
        list-style-type: none;
    }   

    &__socials-link {
        border-radius: 8px;
        border: 1px solid $color-white-opacity-8;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__socials-icon {
        color: $color-white-opacity-8;
    }
}