.footer {
    &__wrapper {
        padding: 42px 80px;
        display: flex;
        justify-content: flex-end;

        @include vp-374 {
            padding: 24px 20px;
            justify-content: flex-start;
        }
    }

    &__socials-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 24px;
        list-style-type: none;
    }

    &__socials-link {
        border-radius: 8px;
        border: 1px solid $color-white-opacity-8;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include vp-374 {
            width: 24px;
            height: 24px;
        }
    }

    &__socials-icon {
        @include vp-374 {
            &--vk {
                width: 12px;
                height: 7px;
            }

            &--ut {
                width: 10px;
                height: 7px;
            }

            &--ok {
                width: 7px;
                height: 11px;
            }

            &--tg {
                width: 11px;
                height: 9px;
            }
        }
    }

    &__socials-icon {
        color: $color-white-opacity-8;
    }
}