.genre-movie {
    padding: 64px 0;
    font-family: $ff-main-play;

    @include vp-374 {
        padding: 16px 0 40px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        gap: 16px;
        color: $color-white;
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0 0 64px;
        cursor: pointer;

        @include vp-374 {
            margin: 0 0 40px;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__btn-load {
        display: block;
        padding: 16px 48px;
        border-radius: 28px;
        background-color: $color-cornflower-blue;
        color: $color-white;
        border: none;
        font-size: 18px;
        line-height: 24px;
        cursor: pointer;
        font-family: $ff-main-play;
        width: 218px;
        align-self: center;

        @include vp-374 {
            background-color: $color-blue-marguerite;
            width: 100%;
        }
    }

    &__btn-icon {
        width: 40px;
        height: 40px;

        @include vp-374 {
            width: 32px;
            height: 32px;
        }
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 64px 40px;
        margin: 0 0 64px;
        padding: 0;

        @include vp-374 {
            grid-template-columns: 1fr;
            gap: 24px;
            margin: 0 0 40px;
        }
    }
}