.top-movie {
    &__wrapper {
        padding: 40px 0 120px;
    }   

    &__title {
        margin: 0;
        padding: 0;
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        color: $color-white;
        margin: 0 0 64px;
    }

    &__list {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(5, 1fr);
        gap: 64px 40px;
        counter-reset: section;
        padding: 0;
        margin: 0;
    }

    &__item {
        border: 1px solid $color-white;
        border-radius: 16px;
        box-shadow: $shadow-home-card;
        width: 224px;
        height: 336px;
        position: relative;
        background-color: $color-mine-shaft-2;

        &::before {
            counter-increment: section;
            content: counter(section);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 62px;
            height: 48px;
            background-color: $color-white;
            color: $color-blue-marguerite;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            top: -12px;
            left: -12px;
            border-radius: 50px;
        }
    }
}

